<h2>Create your celebrity</h2>
<form action="" method="post">
    <label for="nameLabel">name</label>
    <input type="text" name="name" id="nameLabel">
    <label for="occupationLabel">occupation</label>
    <input type="text" name="occupation" id="occupationLabel">
    <label for="catchPhraseLabel">catchPhrase</label>
    <input type="text" name="catchPhrase" id="catchPhraseLabel">
    <input type="submit" value="Create">
</form>

{{!-- const celebritySchema = new mongoose.Schema({
    name: String,
    occupation: String,
    catchPhrase: String
}) --}}