<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create"> create your celeb</a>
<a href="/celebrities"> find all celebs</a>
<a href="/movies/create"> create your movie</a>
<a href="/movies"> find all movies</a>